@use './variaveis.scss' as *;
.formulario{
    background-color: $background;
    width: 20vw;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;

    .titulo{
        color: $font-color;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    input{
        font-weight: bold;
        border: 1px solid $cor-destaque;
        border-radius: 7px;
        padding: 10px;
        width: 100%;
    }
    button{
        padding: 10px;
        background-color: $cor-destaque;
        color: $link-color;
    }
    select{
        padding: 5px;
        width: 100%;
    }
}