@use './variaveis.scss' as *;

.coluna {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column; 
  gap: 15px; 
  min-height: 400px;

  h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: $cor-destaque; 
  }
}
