@use './variaveis.scss' as *;

.kanban {
  padding: 20px;
  background-color: lighten($background, 3%);
  min-height: 100vh;
}

.atividades{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.quadroTitle{
  margin: 20px;
  display: flex;
  justify-content: center;
}